* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-size: 14px; }

.grid {
  width: 1000px;
  margin: 0 auto; }

.section {
  padding: 100px 0; }
  .section__title {
    text-align: center; }
    .section__title h2 {
      margin-bottom: 50px;
      font-family: "Roboto", sans-serif;
      font-size: 60px;
      font-weight: 900;
      text-transform: uppercase;
      color: #ffcc00; }
  .section__description {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #666; }
  .section__devider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section__devider img {
      margin: 0 5px; }
    .section__devider::before, .section__devider::after {
      content: '';
      display: block;
      width: 210px;
      height: 1px;
      background-color: #ffcc00; }

.dossier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .dossier__picture {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .dossier__btn {
    display: inline-block;
    margin-right: 55px;
    font-size: 20px;
    color: #ffcc00;
    background-color: transparent;
    border: none; }
  .dossier__photo {
    border: 1px solid #ffcc00; }
  .dossier__corner {
    position: absolute;
    width: 100px;
    height: 100px; }
    .dossier__corner--top-lef {
      top: -15px;
      left: -15px;
      border-top: 1px solid #ffcc00;
      border-left: 1px solid #ffcc00; }
    .dossier__corner--top-right {
      top: -15px;
      right: -15px;
      border-top: 1px solid #ffcc00;
      border-right: 1px solid #ffcc00; }
    .dossier__corner--bottom-left {
      bottom: -15px;
      left: -15px;
      border-bottom: 1px solid #ffcc00;
      border-left: 1px solid #ffcc00; }
    .dossier__corner--bottom-right {
      right: -15px;
      bottom: -15px;
      border-bottom: 1px solid #ffcc00;
      border-right: 1px solid #ffcc00; }
