.dossier{

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    padding-top: 45px;
    
    &__picture{
        position: relative;
        display: flex;
        align-content: flex-start;
    }

    &__btn{
        display: inline-block;
        margin-right: 54px;
        font-size: 20px;
        color: $color-yellow;
        background-color: transparent;
        border: none;

        &--right{
            margin-left: 10px;
        }
    }

    &__photo{
        
        border: 1px solid $color-yellow;
    }

    &__corner{
        position: absolute;
        width: 100px;
        height: 100px;
        
        &--top-lef{
            top: -15px;
            left: -15px;
            border-top: 1px solid $color-yellow;
            border-left: 1px solid $color-yellow;
        }

        &--top-right{
            top: -15px;
            right: -15px;
            border-top: 1px solid $color-yellow;
            border-right: 1px solid $color-yellow;
        }

        &--bottom-left{
            bottom: -15px;
            left: -15px;
            border-bottom: 1px solid $color-yellow;
            border-left: 1px solid $color-yellow;
        }

        &--bottom-right{
            right: -15px;
            bottom: -15px;
            border-bottom: 1px solid $color-yellow;
            border-right: 1px solid $color-yellow; 
        }
    }

    &__separator{
        display: inline-block;
        margin-left: 40px;
        width: 5px;
        height: 560px;
        background-color: $color-yellow;
    }

    &__info{
        display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-items: center;
        align-content: stretch;
        
        padding-left: 15px;
        
    }
 

    &__name{
        font-family: $font-open-sans;
        font-size: 36px;
        color: $color-black;
    }

    &__line{
        width: 100px;
        height: 1px;
        margin-top: 35px;
        background-color: $color-yellow;
    }

    &__profession{
        display: block;
        padding-top: 35px;
        font-family: $font-robbot;
        font-size: 24px;
    }

    &__socialnetworks{
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-items: center;
        align-content: stretch;
        padding-top: 35px;
    }

    &__acounts{
        padding-left: 5px;
        list-style: none;
    }

    &__about{
        padding-top: 30px;
        text-align: center;
        font-family: $font-robbot;
        line-height: 25px;
    }

    &__dashed{
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-items: center;
        align-content: stretch;
        padding-top: 10px;
    }

    &__lines{
        width: 10px;
        height: 4px;
        margin-left: 5px;
        background-color: $color-yellow;

        &--long{
            width: 20px;
        }
    }

    &__profile{
        margin-top: 10px;
        padding: 5px 10px;
        font-family: $font-robbot;
        font-weight: 700;
        color: $color-black;
        background-color: transparent;
        border-color: $color-yellow;
    }
}