//colors
$color-white: #fff;
$color-yellow: #ffcc00;
$color-grey: #666;
$color-black: #333;

//fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-relaway: 'Raleway', sans-serif;
$font-robbot: 'Roboto', sans-serif;